# Python Data Structures and Boolean
Boolean
Boolean and Logical Operators
Lists
Comparison operators
Dictionaries
Tuples
Sets

## Boolean Values
Boolean values are the two constant objects False and True.

They are used to represent truth values (other values can also be considered false or true).

In numeric contexts (for example, when used as the argument to an arithmetic operator), they behave like the integers 0 and 1, respectively.

The built-in function bool() can be used to cast any value to a Boolean, if the value can be interpreted as a truth value

They are written as False and True, respectively.

In [2]:
bool()
#True
#False

False

In [6]:
print(True,False)

True False

In [7]:
type(True)#true is case sensitive

bool

In [9]:
type(False)

bool

In [23]:
#how to apply different kind of in-buit functions
my_str ="susmithareddy"

In [24]:
#my_str. #click tab to get list of inbult functions

In [25]:
print(my_str.isalnum())#check if all char are numbers
print(my_str.isalpha()) #check if all char in the string are alphabetic
print(my_str.isdigit()) #test if string contains digits
print(my_str.istitle()) #test if string contains title words
print(my_str.isupper()) #test if string contains upper case
print(my_str.islower()) #test if string contains lower case
print(my_str.isspace()) #test if string contains spaces
print(my_str.endswith('y')) #test if string endswith a d
print(my_str.startswith('s')) #test if string startswith H

True
True
False
False
False
True
False
True
True

## Boolean and Logical Operators

In [26]:
True and True

True

In [27]:
True and False

False

In [28]:
True or False

True

In [29]:
True or True

True

In [30]:
str_ex ='Hello World'
my_str ='susmi'

In [32]:
my_str.isalpha() or str_ex.isnum()

True

## Lists
A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ]

In [34]:
type([])

list

In [35]:
list_ex=[]

In [36]:
type(list_ex)

list

In [37]:
lst=list()

In [38]:
type(lst)

list

In [39]:
lst=['math','chem',100,200,300]

In [40]:
len(lst)

5

In [41]:
type(lst)

list

## Append 
##USED to add elements in the list

In [42]:
lst.append("susmi")

In [43]:
lst

['math', 'chem', 100, 200, 300, 'susmi']

In [54]:
lst.append(["bharath","banda"])

In [55]:
lst#getting added as a new list in the end

['math', 'bandi', 100, 'chem', 100, 200, 300, 'susmi', ['bharath', 'banda']]

In [100]:
#indexing in list
lst[6]

'susmi'

## insert

In [44]:
## Used to insert in a specific order
lst.insert(1,100)

In [45]:
lst

['math', 100, 'chem', 100, 200, 300, 'susmi']

In [47]:
lst.insert(1,"bandi")

In [50]:
lst

['math', 'bandi', 100, 'chem', 100, 200, 300, 'susmi']

In [49]:
lst[4]

100

In [51]:
#to pick up the elements 
lst[:]

['math', 'bandi', 100, 'chem', 100, 200, 300, 'susmi']

In [52]:
lst[1:]

['bandi', 100, 'chem', 100, 200, 300, 'susmi']

In [53]:
lst[2:6]

[100, 'chem', 100, 200]

## Extend

In [57]:
lst1=[1,2,3,4,5,6]
lst1

[1, 2, 3, 4, 5, 6]

In [61]:
lst1.extend([5,6])
lst1

[1, 2, 3, 4, 5, 6, 5, 6, 5, 6]

## Various Operations that we can perform in List

In [68]:
lst1

[1, 2, 3, 4, 5, 6, 5, 6, 5]

In [64]:
sum(lst1)

43

In [101]:
lst1*2 # whole list gets or repeats twice one after the other

[1, 2, 3, 54, 5, 1, 2, 3, 54, 5]

## Pop() Method

In [66]:
#picks up the element from specified index
##if not specified it removed the last element and gives rest
lst1.pop()

6

In [67]:
lst1

[1, 2, 3, 4, 5, 6, 5, 6, 5]

In [70]:
lst1.pop(0)

1

In [71]:
lst1

[2, 3, 4, 5, 6, 5, 6, 5]

### count():Calculates total occurrence of given element of List

In [93]:
lst2=[1,1,2,3,54,5,4,5,5]

In [94]:
lst2.count(5) #gives the no of ekements present in the list

3

In [95]:
lst2

[1, 1, 2, 3, 54, 5, 4, 5, 5]

In [96]:
#length calculTES Total length of list
len(lst2)

9

In [97]:
#index(): Returns the index of first occurrence. Start and End index are not necessary parameters
lst2.index(5,1,9) #(element,start,stop imdex)

5

In [98]:
min(lst2)

1

In [99]:
max(lst2)

54

###tutorial-3
## Sets
#A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table

In [104]:
#defining an empty set
set_var =set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [106]:
set_var={1,2,3,4,5,3,4}

In [107]:
set_var

{1, 2, 3, 4, 5}

In [108]:
#inbuilt function in sets
set_var.add('susmi')